<h2 class="screen-align">DispatchProducts</h2>
<div id="template-icdk" class="row">
    <div id="template-inp4" class="cell">
        <label id="template-i1tk" class="label">Name</label>
        <input id="template-i0b4" [(ngModel)]="dispatch.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i9wmi" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-id29" class="cell">
        <label id="template-irif" class="label">Item</label>
        <input id="template-ily7" [(ngModel)]="dispatch.item" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ibg8" class="cell">
        <label id="template-iqs2" class="label">Material</label>
        <input id="template-il394" [(ngModel)]="dispatch.material"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>